*.swp
*.bak
*.egg
*.egg-info
*.eggs
*.pyc
*.pyd
*.pyo
*.so
*.tar.gz
*~
.DS_Store
.Python
.cache
.coverage
.coverage.*
.idea
.installed.cfg
.noseids
.tox
.vimrc
bin
build
cover
coverage
develop-eggs
dist
docs/_build/
eggs
target/
include/
lib/
man/
ext/target/
nosetests.xml
parts
pyvenv
sources
var/*
venv
virtualenv.py
.install-deps
.develop
.gitconfig
.flake
.build
